



.pokemon-container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    border: 1px solid black;
}

.pokemon-image {
    max-width: 80%;
}
.poke-div {
    border: 1px solid blue;
    width: 25%;
    text-align: center;
    padding: 15px;
}