

body {
    font-family: 'Inconsolata', monospace;
    background-color: antiquewhite;
}

.pokemon-container {
    display: flex;
    justify-content: center;
    padding: 30px;

}
section {
    display:flex;
    flex-direction: column;
}
.pokemon-image {
    max-width: 70%;
}
.poke-div {
    width: 20%;
    text-align: center;
    padding: 5px;
    position: relative;
}
.poke-div img {
    /* transition: all 1s ease-in-out; */
}
.poke-div:hover{
    border: inset 10px yellow;
}
/* .poke-div img:active {
    transform: rotate3d(1, 1, 1, 45deg);
    position: absolute;
    top: 200px;
} */
.captured-area .pokemon-image {
    max-width: 25%;
}
.captured-area {
    text-align: center;
    margin-top: 50px;
    position: relative;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
#bars {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 5px grey;
}
h1 {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
}
.prison {
    border: ridge 5px grey;
    width: 300px;
    margin: 20px auto;
}